<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        form {
            margin-top: 100px;
        }



    </style>

</head>
<body>
<center><h1 style="font-size:60px;">Secretary Operations</h1></center>
<h2><a href="/book">Operations on Books</a><br/></h2>
<h2><a href="/apiBook">Google Books API</a><br/></h2>
<div class="container">

    <h2>Add / Update Patient</h2>
    <form th:action="@{/secretaryOp}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Name:</label>
            <div class="col-sm-8">
                <input type="text" name="name" id="name" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="icn" class="col-sm-4 control-label">Id card nr:</label>
            <div class="col-sm-8">
                <input type="number" name="icn" id="icn" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="pnc" class="col-sm-4 control-label">Pers num code:</label>
            <div class="col-sm-8">
                <input type="number" name="pnc" id="pnc" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="bday" class="col-sm-4 control-label">Date of birth:</label>
            <div class="col-sm-8">
                <input type="text" name="bday" id="bday" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="addr" class="col-sm-4 control-label">Address:</label>
            <div class="col-sm-8">
                <input type="text" name="addr" id="addr" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="addP" value="Add Patient"/>

        <div class="form-group">
            <label for="id" class="col-sm-4 control-label">ID for update</label>
            <div class="col-sm-8">
                <input type="number" name="id" id="id" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="update" value="Update Patient"/>


        <!-- ALERTS -->
        <div th:if="${updUErr}" class="alert alert-danger" role="alert" th:text="${updMessage}"></div>
        <div th:if="${updUSucc}" class="alert alert-success" role="alert" th:text="${updMessage2}"></div>

    </form>

    <form th:action="@{/delUser}" method="get">
        <div class="form-group">
            <label for="UserID" class="col-sm-4 control-label">ID to delete:</label>
            <div class="col-sm-8">
                <input type="number" name="UserID" id="UserID" class="form-control"/>
            </div>
        </div>
        <input type="submit" class="button" name="delete" value="Delete"/>
        <span th:text="${deleteMessage}"/>
        <div th:if="${delUErr}" class="alert alert-danger" role="alert" th:text="${delMessage}">
        </div>
        <div th:if="${delSucc}" class="alert alert-success" role="alert">
            Successfully deleted!
        </div>
    </form>

    <form th:action="@{/patientView}" method="get">
        <input type="submit" class="button" name="viewUsers" value="View Users"/>
    </form>

    <form th:action="@{/logout}" method="get">
        <input type="submit" class="button" name="logout" value="Logout"/>
    </form>
</div>

<div th:if="${param.success}">
    Author created successfully!
</div>


<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Id card nr</th>
        <th>Pers num code</th>
        <th>Date of birth</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.id_card_nr}"></td>
        <td th:text="${patient.pers_num_code}"></td>
        <td th:text="${patient.birthday}"></td>
        <td th:text="${patient.address}"></td>

    </tr>
    </tbody>
</table>


</body>
</html>